In [1]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [2]:
import pandas as pd
import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px
import plotly.graph_objects as go

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/italia/covid19-opendata-vaccini/master/dati/somministrazioni-vaccini-latest.csv')
df.data_somministrazione = pd.to_datetime(df.data_somministrazione)
df.sort_values('data_somministrazione', inplace=True)
df = df[df['data_somministrazione']>='2021-01-01']
df['giorno_campagna'] = df.data_somministrazione.dt.dayofyear
df.head()

,data_somministrazione,fornitore,area,fascia_anagrafica,sesso_maschile,sesso_femminile,categoria_operatori_sanitari_sociosanitari,categoria_personale_non_sanitario,categoria_ospiti_rsa,categoria_over80,categoria_forze_armate,categoria_personale_scolastico,prima_dose,seconda_dose,codice_NUTS1,codice_NUTS2,codice_regione_ISTAT,nome_area,giorno_campagna
450,2021-01-01,Pfizer/BioNTech,SIC,20-29,63,75,132,6,0,0,0,0,138,0,ITG,ITG1,19,Sicilia,1
453,2021-01-01,Pfizer/BioNTech,SIC,50-59,100,91,168,23,0,0,0,0,191,0,ITG,ITG1,19,Sicilia,1
455,2021-01-01,Pfizer/BioNTech,SIC,70-79,8,1,9,0,0,0,0,0,9,0,ITG,ITG1,19,Sicilia,1
452,2021-01-01,Pfizer/BioNTech,SIC,40-49,95,84,163,16,0,0,0,0,179,0,ITG,ITG1,19,Sicilia,1
451,2021-01-01,Pfizer/BioNTech,SIC,30-39,81,85,153,13,0,0,0,0,166,0,ITG,ITG1,19,Sicilia,1

In [4]:
pop = pd.read_html('https://it.wikipedia.org/wiki/Demografia_d%27Italia', thousands='.')[11]
pop = pop[['Et√†', 'Totale']]
pop.drop(index=101, axis=0, inplace=True)
pop.Totale = pd.to_numeric(pop.Totale)
pop['Et√†'] = pd.to_numeric(pop['Et√†'].str.split(' ', expand=True)[0])

def ages(s):
    if (s['Et√†'] >= 0 and s['Et√†'] < 16):
        return '0-16'
    elif (s['Et√†'] >= 16 and s['Et√†'] <= 19):
        return '16-19'
    elif (s['Et√†'] >= 20 and s['Et√†'] <= 29):
        return '20-29'
    elif (s['Et√†'] >= 30 and s['Et√†'] <= 39):
        return '30-39'
    elif (s['Et√†'] >= 40 and s['Et√†'] <= 49):
        return '40-49'
    elif (s['Et√†'] >= 50 and s['Et√†'] <= 59):
        return '50-59'
    elif (s['Et√†'] >= 60 and s['Et√†'] <= 69):
        return '60-69'
    elif (s['Et√†'] >= 70 and s['Et√†'] <= 79):
        return '70-79'
    elif (s['Et√†'] >= 80 and s['Et√†'] <= 89):
        return '80-89'
    elif s['Et√†'] >= 90:
        return '90+'
    
pop['gruppo'] = pop.apply(ages, axis=1)

In [5]:
pop

     Et√†  Totale gruppo
0      0  532991   0-16
1      1  542019   0-16
2      2  553729   0-16
3      3  561994   0-16
4      4  559203   0-16
..   ...     ...    ...
96    96   30447    90+
97    97   22450    90+
98    98   15624    90+
99    99   10192    90+
100  100   15080    90+

[101 rows x 3 columns]